/* Import Google icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* Import Nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-family: "Nunito", sans-serif;

  /* Colors */
  --primary-color-1: #121212;
  --primary-color-2: #1f1f1e;
  --secondary-color-1: #efefef;
  --accent-color-1: #4d7ed1;
}

html {
  background-color: var(--primary-color-1) !important;
  color: var(--secondary-color-1) !important;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}
h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
h3 {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 24px;
}
a {
  color: var(--accent-color-1);
}
span {
  color: var(--accent-color-1);
}

/* TABLET VIEW CHANGES */
@media (max-width: 1050px) {
  body {
    max-width: 768px;
  }
}

/* MOBILE VIEW CHANGES */
@media (max-width: 768px) {
  body {
    max-width: 320px;
  }
}
