.not_found {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100dvh;
}

/* Text container */
.not_found_text_subtitle {
    opacity: 75%;
}
.not_found_text_paragraph {
    max-width: 75%;
    margin-top: 12px;
}
.not_found_actions {
    display: flex;
    margin-top: 24px;
    gap: 12px
}

/* Icon container */
.not_found_icon_style {
    color: var(--secondary-color-1);
    font-size: 264px;
    user-select: none;
}

/* TABLET VIEW CHANGES */
@media (max-width: 1050px) {
}

/* MOBILE VIEW CHANGES */
@media (max-width: 768px) {
    .not_found_icon_container {
        display: none;
    }
}