.root {
padding: 48px;
}

.root_content {
  display: flex;
  gap: 24px;
}

/* Main content */
.root_main_content_container {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 24px;
}

/* TABLET VIEW CHANGES */
@media (max-width: 1050px) {
  .root {
    padding: 12px;
    }
  .root_content {
    flex-direction: column;
  }
  .root_main_content_container {
    width: 100%;
  }
}

/* MOBILE VIEW CHANGES */
@media (max-width: 768px) {
  .root {
    margin-bottom: 48px;
  }
}
